            {% extends 'base.html' %}

            {% block title %} Education {% endblock %}

            {% block content %}

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    {% for x in pendidikan %}
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">{{ x.institusi }} </h3>
                            <div class="subheading mb-3"><h4>{{ x.jenjang }}</h4></div>
                            <div class="subheading">{{ x.jurusan }}</div><br>
                                <ul>
                                    <li>{{ x.deskripsi }}</li>
                                </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">{{ x.tahun_mulai }} - {{ x.tahun_selesai }}</span></div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            
            {% endblock %}