{% extends 'base.html' %}

{% block title %} Portfolio {% endblock %}

{% block content %}

<!-- Education-->
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Portfolio</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <table class="table table-striped table-bordered">
                <thead class="table-dark">
                    <tr align="center">
                        <td>Project Name</td>
                        <td>Link</td>
                        <td>Technology</td>
                    </tr>
                </thead>
                {% for x in projek %}
                <tbody>
                    <tr>
                        <td>{{ x.nama_projek }}</td>
                        <td><a href="{{ x.link }}" target="_blank">{{ x.link | default_if_none:"" }}</a></td>
                        <td>
                            {% for y in x.teknologi_projek.all %}
                                {{ y.teknologi }},
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</section>

{% endblock %}