            {% extends 'base.html' %}

            {% load static %}

            {% block title %} Skills {% endblock %}

            {% block content %}
            
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <div>
                        <ul>
                            {% for x in kemampuan %}
                            <li><b>{{ x.kemampuan }}</b></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </section>

            {% endblock %}